*{
    margin: 0%;
    padding: 0%;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #91cbec;
    
}

img{
    max-width: 100%;
}

.container{
   max-width: 1200px;
   margin: 0 auto;
}

header{
    background-color: rgb(254, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0; /* Eliminado el padding */
}

.inicio{
    width: 100%;
    max-width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Mantén este padding interno si quieres espacio entre logo y nav */
}

nav{
    display: flex;
    gap: 40px;
}

.opciones{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-decoration: none; 
   text-transform: uppercase;
   font-weight: 700;
   color: rgb(22, 71, 47);
   font-size: 20px;
   border: 2px solid transparent;
   padding: 5px;
   transition: .4s ease;
}

.opciones:hover{
    color: rgba(0, 0, 0, 0.76);
    transition: .4s ease;
    border: 2px solid rgb(15, 124, 138);
}

.logo{
    width: 100px; 
    height: 100px;
    flex-shrink: 0;
}

.titulo {
   text-align: left;
    color:#d496ab;
}

.nuevo img{
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    display: block; /* Elimina espacios debajo de la imagen */
}

/*  Seccion producs  */ 

/*FOOTER */

.pie-pagina{
   width: 100%;
   background-color:rgb(250, 250, 250); 
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 20px; /* Cambiado de 45px 0px a 45px 20px para padding lateral */
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 100%;   
}
.pie-pagina .grupo-1 .box h2{
    color:  rgb(60, 104, 71);
    align-items: center;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    background-color: rgb(91, 175, 126);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover{
    color: black;
}
.pie-pagina .grupo-2{
    background-color: rgb(0, 0, 0);
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 100%; /* Cambiado de 90% a 100% */
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 20px; /* Añadido padding lateral */
    }
}